/*
Project Name: Stivmartinez
Project URI: https://stivmartinez.com/
Version: 1.0.0
*/

// GuruHotel Variables
@import "./variables";

// Import styleguide
@import "../../node_modules/@themesei/styleguide/src/main.scss";

/* Main */
body {
  background: $color__secondary;
}

/* Header */
.header {
  height: 160px;
  left: 0;
  padding: 0 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  .logo {
    max-width: 70px;
    width: 100%;
  }

  .header--nav {
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      &.social {
        margin-right: 8px;

        a {
          border-radius: 50%;
          display: block;
          height: 32px;
          line-height: 32px;
          margin: 0 2px;
          padding: 0;
          position: relative;
          text-align: center;
          transition-duration: 0.3s;
          width: 32px;

          svg {
            margin: 0;
          }

          &::after {
            content: '';
            border-radius: 50%;
            box-shadow: 0 0 0 1px darken($color__main, 5%);
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            transform: scale(0);
            transition-duration: 0.3s;
            top: 0;
            width: 100%;
          }

          &:hover {
            background: darken($color__main, 5%);

            svg {
              color: $color__secondary;
            }

            &::after {
              opacity: 1;
              transform: scale(1.2);
            }
          }
        }
      }

      &.lang {
        .icon {
          margin-left: 12px;
          margin-right: 4px;
          position: relative;
          top: 2px;
        }
      }
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    a {
      color: white;
      display: block;
      font-weight: 500;
      padding: 4px 8px;

      svg {
        color: $color__main;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 2px;
        vertical-align: baseline;
      }
    }
  }
}

/* Presentation */
.presentation {
  height: 100vh;

  .presentation__avatar {
    display: block;
    margin-bottom: 40px;

    img {
      border: 2px solid white;
      border-radius: 50%;
      width: 40px;
    }
  }

  .presentation__illus {
    width: 200px;
    left: 0;
    position: relative;
    top: -50px;
  }

  .presentation__text {
    color: white;
    font-weight: 300;
    line-height: 1.5;
    margin: 20px 0;

    a {
      border-bottom: 2px solid $color__main;
      color: white;
      font-weight: 500;
    }
  }

  .presentation__experience {
    font-size: 0.75rem;
    margin: 20px 0 40px 0;
  }

  .presentation__logos {
    .presentation__logos--logo {
      max-width: 140px;
      width: 100%;

      &.mini {
        margin: 20px;
        max-height: 40px;
        max-width: 40px;
        opacity: 0.5;
      }
    }
  }
}

/* Brand list */
.brands {
  .brands__list {
    margin-top: 30px;

    .brands__list--brand {
      background: lighten($color__secondary, 2%);
      border-radius: 4px;
      margin: 10px 0;
      position: relative;

      .brand {
        height: 200px;
        position: relative;

        .brand__complete {
          align-items: center;
          justify-content: center;
          display: flex;
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          transition: 0.3s;
          top: 0;
          visibility: hidden;
          width: 100%;

          img {
            max-height: 60px;
            max-width: 120px;
            pointer-events: none;
            width: 80%;
          }

          &.guruhotel {
            background: linear-gradient(
              135deg,
              #302c5f,
              adjust-hue(#302c5f, 15%)
            );
          }

          &.amadezing {
            background: linear-gradient(
              135deg,
              #43c398,
              adjust-hue(#43c398, 15%)
            );
          }

          &.betuber {
            background: linear-gradient(
              135deg,
              #530aaa,
              adjust-hue(#530aaa, 15%)
            );
          }

          &.coodesh {
            background: linear-gradient(
              135deg,
              #0064ff,
              adjust-hue(#0064ff, 15%)
            );
          }

          &.feliter {
            background: linear-gradient(
              135deg,
              adjust-hue(#bf7e3d, 25%),
              adjust-hue(#bf7e3d, 15%)
            );
          }

          &.jazzdomain {
            background: linear-gradient(
              135deg,
              #ff3742,
              adjust-hue(#ff3742, 15%)
            );
          }

          &.lacasitadelgato {
            background: linear-gradient(
              135deg,
              #d33e8e,
              adjust-hue(#d33e8e, 15%)
            );
          }

          &.maxresume {
            background: linear-gradient(
              135deg,
              #2b76d3,
              adjust-hue(#2b76d3, 15%)
            );
          }

          &.medicinaaldia {
            background: linear-gradient(
              135deg,
              #60bf3d,
              adjust-hue(#60bf3d, 35%)
            );
          }

          &.ositomedia {
            background: linear-gradient(
              135deg,
              #00a3b0,
              adjust-hue(#00a3b0, 15%)
            );
          }

          &.thebratcompany {
            background: linear-gradient(
              135deg,
              #ff84af,
              adjust-hue(#ff84af, 15%)
            );
          }

          &.themesei {
            background: linear-gradient(
              135deg,
              #2843d0,
              adjust-hue(#2843d0, 15%)
            );
          }

          &.torniautos {
            background: linear-gradient(
              135deg,
              #003e96,
              adjust-hue(#003e96, 15%)
            );
          }
        }

        .brand__icon {
          align-items: center;
          justify-content: center;
          display: flex;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: 0.3s;
          width: 100%;

          img {
            max-height: 55px;
            max-width: 50px;
            pointer-events: none;
            width: 80%;
          }

          &.amadezing {
            img {
              max-height: 55px;
              max-width: 90px;
            }
          }
        }

        &:hover {
          .brand__complete {
            visibility: visible;
            opacity: 1;
          }

          .brand__icon {
            visibility: hidden;
            opacity: 0;
          }
        }
      }

      .brand__name {
        bottom: 0;
        color: $color__text;
        font-size: 0.75rem;
        font-weight: 300;
        left: 0;
        margin: 5px 0 10px 0;
        position: absolute;
        pointer-events: none;
        text-align: center;
        transition: 0.3s;
        width: 100%;
      }

      &:hover {
        .brand__name {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $wrap__md) {
  .header {
    height: 120px;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: $wrap__sm) {
  .header {
    height: 100px;
    padding: 0 1.5rem;

    .logo {
      max-width: 60px;
    }
  }

  .presentation {
    .presentation__logos {
      .presentation__logos--logo {
        max-width: 120px;

        &.mcontigo {
          display: none;
        }
      }
    }
  }
}
