// Theme colors
$color__main: #f2d390;
$color__secondary: #1d3040;

$color__titles: #ffffff;
$color__text: #95a2b3;
$color__link: #f2d390;

// Content width variations
$wrap__lg: 1100px !default;
$wrap__md: 990px !default;
$wrap__sm: 768px !default;
$wrap__xs: 550px !default;

// Base colors
$color__grey: #EFF3F7;
$color__grey--regent: darken($color__grey,8%);
$color__hr: darken($color__grey,5%);

//Font family
$font__main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font__secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Font weights
$font__weight--lighweight: 300;
$font__weight--normal: 400;
$font__weight--bold: 700;

// Shadow box
$color__shadow: rgba($color__titles,0.15), -12px -12px 20px rgba(white,0.3);
